doctype html
html
  head
    title User Management
    link(rel="stylesheet" href="/css/styles.css")
    script(src="/js/userList.js" defer)
    script(src="/js/listingDetail.js" defer)
  body
    nav
      a(href="/users/list") User List
    block content
