extends layout

block content
  h1 User List

  table#users-table
    thead
      tr
        th ID
        th Name
        th Actions
    tbody
      //- Rows will be dynamically added via JS

  div#pagination
